.Container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    -webkit-box-shadow: 0px 17px 7px -2px rgba(235,226,235,1);
    -moz-box-shadow: 0px 17px 7px -2px rgba(235,226,235,1);
    box-shadow: 0px 17px 7px -2px rgba(235,226,235,1);
    font-family: "Nova Mono", serif;
    font-weight: 400;
    font-style: normal;
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        color: #FF5200;
        .icon{
            font-size: 35px;
        }
    }
    .searchbar{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid lightgray;
        border-radius: 15px;
        height: 35px;
        width: 250px;
        color: #FF5200;

        input{
            border: none;
            outline: none;
        }
        
    }
    .links{
        display: flex;
        gap: 20px;
        .link{
            display: flex;
            color: rgb(135, 133, 133);
            gap: 7px;
            .Box{
                background-color: #FF5200;
            }
            .Buttons{
                color: #FF5200;
            }
            a{
                text-decoration: none;
                color: rgb(135, 133, 133);
            }
                .details{
                    display: flex;
                    .icon{
                        font-size: 20px;
                        color: #FF5200
                    }
                }
            
        }
    }


}