.Home {
    display: flex;

    .homeContainer {
        flex: 6;

    }
}

* {
    margin: 0;
}

.Container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;


    .Banner {
        background-color: #FF5200;
        width: 700px;
        height: 55px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }

    .Main {
        display: flex;
        height: 350px;
        width: 699px;
        border: 1px solid gray;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        justify-content: space-between;
        img {
            margin-right: 50px;
            margin-top: 50px;
            width: 170px;
            height: 170px;
        }

        .Sub {

            display: flex;
            flex-direction: column;
            gap: 20px;

            .Field {
                width: 200px;
                margin-left: 15px;
            }

            .Status {
                align-self: flex-start;
                color: rgb(87, 86, 86);
            }

            .Buttons {
                background-color: #FF5200;
                color: lightgray;
                width: 100px;
                align-self: center;
            }
        }
    }
}